anyio==4.13.0
argcomplete==3.6.3
asttokens==3.0.2
attrs==25.4.0
blivet @ file:///builddir/build/BUILD/python-blivet-3.14.1-build/blivet-3.14.1
Brlapi==0.8.7
certifi==2026.1.4
cffi==2.0.0
cfgv==3.5.0
charset-normalizer==3.4.4
click==8.3.3
cockpit @ file:///builddir/build/BUILD/cockpit-367-build/cockpit-367/tmp/wheel/cockpit-367-py3-none-any.whl#sha256=2cf3b2a68ba6c00ac51b231ff213026b3ab544d59aed2ac63d14777b82cbb1f4
comm==0.2.3
contourpy==1.4.0
crypt_r==3.13.1
cupshelpers==1.0
cycler==0.12.1
dasbus==1.7
dbus-python==1.4.0
dbus_next==0.2.3
debugpy==1.8.22
distlib==0.4.3
distro==1.9.0
dnf==4.24.0
executing==2.2.1
fedora-third-party==0.10
file-magic==0.4.0
filelock==3.32.5
fonttools==4.65.0
graphviz==0.21
h11==0.16.0
html2text==2025.4.15
httpcore==1.0.9
httpx==0.28.1
identify==2.6.19
idna==3.18
ipykernel==7.3.0
ipython==9.17.1
ipython_pygments_lexers==1.1.1
iso639==0.1.4
jedi==0.20.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.10.0
jupyter_core==5.9.1
kiwisolver==1.5.1
langtable==0.0.71
libcomps==0.1.24
libdnf==0.75.0
libdnf5==5.4.4.0
louis==3.33.0
matplotlib==3.11.2
matplotlib-inline==0.2.2
nest-asyncio2==1.7.2
nftables==0.1
nodeenv==1.10.0
numpy==2.5.3
olefile==0.47
packaging==25.0
parso==0.8.7
perf==0.1
pexpect==4.9.0
pid==3.0.4
pillow==12.3.0
platformdirs==4.11.7
pre_commit==4.6.2
productmd==1.50
progressbar2==4.5.0
prompt_toolkit==3.0.53
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.4
pwquality==1.4.5
PyAudio==0.2.13
pycairo==1.28.0
pycparser==2.22
pycups==2.0.4
pyenchant==3.3.0
Pygments==2.21.0
PyGObject==3.56.3
pyinotify==0.9.6
pykickstart @ file:///builddir/build/BUILD/pykickstart-3.69-build/pykickstart-3.69
pyparsing==3.3.2
pyparted==3.13.0
PySocks==1.7.1
python-augeas==1.2.0
python-bugzilla==3.3.0
python-dateutil==2.9.0.post0
python-discovery==1.6.0
python-distutils-extra==2.39
python-linux-procfs==0.7.4
python-meh==0.52
python-pam==2.0.2
python-utils==3.9.1
pyudev==0.24.4
pyxdg==0.28
PyYAML==6.0.3
pyzmq==27.2.0
RapidFuzz==3.14.3
referencing==0.36.2
regex==2026.7.19
requests==2.33.1
requests-file==3.0.0
requests-ftp==0.3.1
rpds-py==0.29.0
rpm==6.0.2
rpmautospec==0.8.4
rpmautospec-core==0.1.5
selinux @ file:///builddir/build/BUILD/libselinux-3.11-build/libselinux-3.11/src/dist/selinux-3.11-cp314-cp314-linux_x86_64.whl#sha256=3a0cf8b0db338328b37b7ea642291730a857b9747755d8c8cd884d8c6875845c
sepolicy @ file:///builddir/build/BUILD/policycoreutils-3.11-build/selinux-3.11/python/sepolicy/dist/sepolicy-3.11-py3-none-any.whl#sha256=4215ac0439a505cdb35970cf16a590b4592d8a21f2bc6612e7a216c4490da2a3
setools==4.6.0
setuptools==80.10.2
simpleline==1.9.0
six==1.17.0
sos==4.12.0
stack-data==0.6.3
systemd-python==235
tornado==6.5.10
traitlets==5.16.1
typing_extensions==4.16.0
urllib3==2.7.0
virtualenv==21.7.8
wcwidth==0.8.3
xkbregistry==0.3
